/* gruvbox light and dark */
:root {
	--bg:#fbf1c7;
	--fg:#3c3836;
	--bd:#928374;
	--ln:#cc241d;
	--hl:#076678;
}
@media (prefers-color-scheme: dark) {
	:root {
		--bg:#1d2021;
		--fg:#ebdbb2;
		--ln:#d79921;
		--hl:#689d6a;
	}
}
body {
	background-color:var(--bg);
	color:var(--fg);
	font-family: serif;
	font-size: 1.1em;
	line-height:1.5em;
}

#main {
    max-width: 1000px;
    margin: auto;
}

h2 { color: var(--hl); }
a { color: var(--ln); }
a:hover { color: var(--hl); }
code { color: var(--cd); }
tr:nth-child(even) { background-color: var(--bd); }

.links a { font-size: 1.5em; padding: 10px; }

.picture {
	max-width: 85vw;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}
.pic { 
	overflow: hidden;
}
.pic img {
	width: 100%;
	height: auto;
	max-height: 300px;
	object-fit: contain;
}
.pic img:hover {
    box-shadow: 0 0 15px var(--fg);
}

pre, th, td {
    padding: 5px;
    border: 1px solid var(--bd);
}
